.skin-blue {
color: white;
}

/* ============= 表格 ==============*/
.skin-blue .el-table,
.skin-blue .el-table th,
.skin-blue .el-table tr,
.skin-blue .el-table__footer-wrapper tbody td,
.skin-blue .el-table__header-wrapper tbody td,
.skin-blue .el-table__fixed-footer-wrapper tbody td{
background: #2C324C;
}
.skin-blue .el-table__footer-wrapper tbody td,
.skin-blue .el-table__header-wrapper tbody td,
.skin-blue .el-table__fixed-footer-wrapper tbody td{
color: white;
}

.skin-blue .el-table.el-expand-table,
.skin-blue .el-table.el-expand-table th,
.skin-blue .el-table.el-expand-table tr {
background: #394263;
}

.skin-blue .el-table {
color: white;
}

/* 边框 */

.skin-blue .el-table::before,
.skin-blue .el-table__fixed-right::before,
.skin-blue .el-table__fixed::before {
background-color: transparent;
}

.skin-blue .el-table--border::after,
.skin-blue .el-table--group::after {
background-color: #5D6375;
}

.skin-blue .el-table--border,
.skin-blue .el-table--group {
border-color: #5D6375;
}

/* 表格单元格边框 */
.skin-blue .el-table td,
.skin-blue .el-table th.is-leaf {
border-bottom: 1px solid #5D6375;
}

.skin-blue .el-table--border td,
.skin-blue .el-table--border th,
.skin-blue .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
border-right: 1px solid #5D6375;
}

/* 表头颜色 */
.skin-blue .el-table thead {
color: #62B1EC;
}

/* 当前行、展开行 */
.skin-blue .el-table tr.el-table__row.expanded,
.skin-blue .el-table__body tr.current-row>td {
background: #7DACF0;
}

.skin-blue .el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
background-color: #7DACF0;
}

/* 展开行按钮 */
.skin-blue .el-table__expand-icon {
color: white;
}

/* 展开行-单元格 */
.skin-blue .el-table,
.skin-blue .el-table__expanded-cell {
background-color: #2C324C;
}

.skin-blue .el-table__expanded-cell[class*=cell] {
padding: 0;
}

.skin-blue .el-table--striped .el-table__body tr.el-table__row--striped td {
background: #3E476C;
}

/* 表格行鼠标移动 */
.skin-blue .el-table__body tr.hover-row.current-row>td,
.skin-blue .el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.skin-blue .el-table__body tr.hover-row.el-table__row--striped>td,
.skin-blue .el-table__body tr.hover-row>td,
.skin-blue .el-table--enable-row-hover .el-table__body tr:hover>td {
background-color: #7DACF0;
}

.skin-blue .el-table .el-table__row.hover-row .el-button--text {
color: white;
}

/* ============= 分页控件 =============*/
.skin-blue .el-pagination button:disabled,
.skin-blue .el-pagination .btn-next,
.skin-blue .el-pagination .btn-prev,
.skin-blue .el-pager li.btn-quicknext,
.skin-blue .el-pager li.btn-quickprev,
.skin-blue .el-pager li {
background: transparent;
color: white;
}

/* ============= dialog =============*/
.skin-blue .el-dialog__header {
background: #4D5F83;
}

.skin-blue .el-dialog__title {
color: #FAFAFA;
}

.skin-blue .el-dialog__body,
.skin-blue .el-dialog__footer {
background: #272F46;
border: none;
}

/* dialog 底部按钮 */
.skin-blue .el-button.is-plain {
background: transparent;
color: white;
}

.skin-blue .el-button.is-plain:hover {
background: transparent;
}

/* dialog 内的form表单lable */
.skin-blue .el-form-item__label {
color: white;
}

/* ============= 卡片 =============*/
.skin-blue .el-card {
background: #272F46;
color: #FAFAFA;
}

/* ============= 输入控件 =============*/
.skin-blue .el-input__inner,
.skin-blue .el-input.is-disabled .el-input__inner,
.skin-blue .el-textarea__inner {
background-color: transparent;
border-color: #5D6375;
color: #FAFAFA;
}

.skin-blue .el-input__inner[type=number] {
padding-right: 0px;
}

.skin-blue .el-input-group__append,
.skin-blue .el-input-group__prepend {
border-color: #5D6375;
background: transparent;
}

/* 日期选择控件 */
.skin-blue .el-date-editor .el-range-input {
background-color: transparent;
color: white;
}

.skin-blue .el-date-editor .el-range-separator {
color: white;
padding: 0;
text-align: center;
}

.skin-blue .el-range-editor.is-disabled,
.skin-blue .el-range-editor.is-disabled input {
background-color: transparent;
}

.skin-blue .el-date-table td.disabled div,
.skin-blue .el-year-table td.disabled .cell {
background-color: #5D6375;
}

/* ============= 下拉菜单 =============*/
.skin-blue .el-dropdown-menu {
/* background-color: transparent; */
border: 1px solid #374568;
}

.skin-blue .el-dropdown-menu__item:focus,
.skin-blue .el-dropdown-menu__item:not(.is-disabled):hover {
background-color: transparent;
color: #66b1ff;
}

/* ============= 日历 =============*/
.skin-blue .el-calendar {
background: #272F46;
color: #FAFAFA;
}

.skin-blue .el-calendar__title {
color: #FAFAFA;
}

.skin-blue .el-calendar__header {
border-color: #5D6375;
padding: 5px;
}

.skin-blue .el-calendar__header .el-button--mini {
padding: 3px 5px;
}

.skin-blue .el-calendar__body {
padding: 0;
}

.skin-blue .el-calendar-table thead th {
padding: 5px 0;
text-align: center;
color: #FAFAFA;
border: 1px solid #424B5E;
}

.skin-blue .el-calendar-table td,
.skin-blue .el-calendar-table tr td:first-child,
.skin-blue .el-calendar-table tr:first-child td {
border-color: #424B5E;
padding: 0;
}

.skin-blue .el-calendar-table td.is-selected,
.skin-blue .el-calendar-table .el-calendar-day:hover {
background: #4B5A86;
}

.skin-blue .el-calendar-table .el-calendar-day {
padding: 0px;
height: auto;
}

.skin-blue .el-calendar__button-group .el-button {
background: #4D5F83;
color: #FAFAFA;
}


/* ============= 抽屉 =============*/
.skin-blue .el-drawer {
background: #272F46;
}

.skin-blue .el-drawer__header {
color: #FAFAFA;
font-size: 18px;
background: #4D5F83;
margin-bottom: 0;
padding: 12px 20px 10px 20px;
}

.skin-blue .el-drawer__header>:first-child {
outline: none;
}

/* ============= popover 操作确认框 =============*/
.skin-blue .el-popover {
background: #374568;
border: none;
color: #f0f0f0;
}

.skin-blue .el-popper[x-placement^=top] .popper__arrow,
.skin-blue .el-popper[x-placement^=top] .popper__arrow::after {
border-top-color: #374568;
}

.skin-blue .el-popper[x-placement^=bottom] .popper__arrow,
.skin-blue .el-popper[x-placement^=bottom] .popper__arrow::after {
border-bottom-color: #374568;
}

.skin-blue .el-popper[x-placement^=left] .popper__arrow,
.skin-blue .el-popper[x-placement^=left] .popper__arrow::after {
border-left-color: #374568;
}

.skin-blue .el-popper[x-placement^=right] .popper__arrow,
.skin-blue .el-popper[x-placement^=right] .popper__arrow::after {
border-right-color: #374568;
}

/* 下拉框弹出层容器 */
.skin-blue .el-select-dropdown.el-popper[x-placement^=top] .popper__arrow,
.skin-blue .el-select-dropdown.el-popper[x-placement^=top] .popper__arrow::after {
border-top-color: #EBEEF5;
}

.skin-blue .el-select-dropdown.el-popper[x-placement^=bottom] .popper__arrow,
.skin-blue .el-select-dropdown.el-popper[x-placement^=bottom] .popper__arrow::after {
border-bottom-color: #EBEEF5;
}

.skin-blue .el-cascader__dropdown {
background: #445076;
border-color: #445076;
}

.skin-blue .el-cascader-node:not(.is-disabled):focus,
.skin-blue .el-cascader-node:not(.is-disabled):hover,
.skin-blue .el-cascader-menu:last-child .el-cascader-node:hover {
background: #344263;
color: #f0f0f0;
}

.skin-blue .el-cascader-node__postfix {
color: white;
}

/* 单选按钮组 */
.skin-blue .el-radio-button:first-child .el-radio-button__inner,
.skin-blue .el-radio-button__inner {
background: #445076;
border-color: #445076;
color: #fff;
}

.skin-blue .el-radio-button__orig-radio:checked+.el-radio-button__inner {
background: #3d99ff;
}

/* checkbox radio */
.skin-blue .el-checkbox,
.skin-blue .el-radio {
color: #f0f0f0;
}

/*timeline*/
.skin-blue .el-timeline-item__content {
color: #f0f0f0;
}

/*date-picker*/
.skin-blue .el-picker-panel,
.skin-blue .el-picker-panel__footer,
.skin-blue .el-time-panel,
.skin-blue .el-picker-panel__sidebar,
.skin-blue .el-picker-panel__shortcut {
background: #374568;
color: #f0f0f0;
}

.skin-blue .el-date-picker__time-header {}

.skin-blue .el-picker-panel {
border: 0;
}

.skin-blue .el-date-table th,
.skin-blue .el-picker-panel,
.skin-blue .el-picker-panel__icon-btn,
.skin-blue .el-date-picker__header-label,
.skin-blue .el-year-table td .cell,
.skin-blue .el-month-table td .cell,
.skin-blue .el-time-panel__btn,
.skin-blue .el-time-spinner__item.active:not(.disabled) {
color: #f0f0f0;
}

.skin-blue .el-time-spinner__item {
color: #c0c4cc;
}

.skin-blue .el-input__inner,
.skin-blue .el-input.is-disabled .el-input__inner,
.skin-blue .el-textarea__inner {
color: #f0f0f0;
}

.skin-blue .el-date-table td.in-range div {
background-color: #647fbd;
}

/* 树结构 */
.skin-blue .el-tree {
background: transparent;
color: #f0f0f0;
}

.skin-blue .el-tree-node__content:hover,
.skin-blue .el-tree-node:focus>.el-tree-node__content,
.skin-blue .el-tree-node.is-current>.el-tree-node__content {
background: #344263;
color: #f0f0f0;
}

/*tabs*/
.skin-blue .el-tabs__item {
color: #606266;
}

.skin-blue .el-tabs--border-card,
.skin-blue .el-tabs--border-card>.el-tabs__header,
.skin-blue .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
background: transparent;
}

.skin-blue .el-tabs--border-card>.el-tabs__header {
background-color: none;
}

/* 弹出提示框 */
.skin-blue .el-message-box{
background-color: #344263;
border-color: #c0c4cc;
}
.skin-blue .el-message-box__title,
.skin-blue .el-message-box__content{
color: white;
}
