.marker-dianwu-container {
	z-index: 40 !important;
}

/* popper窗体 */
.marker-dianwu-info {
	border-collapse: collapse;
	font-size:       14px;
	padding-top:     20px;
}

.marker-dianwu-info > table {
	width: 100%;
}

.marker-dianwu-info .blue {
	color: #68A2FA;
}

.marker-dianwu-info .orange {
	color: #FDA629;
}

.marker-dianwu-info .red {
	color: #EF5659;
}

.marker-dianwu-info .line-h {
	border-left: 1px solid #131C36;
}

.marker-dianwu-info .line-v {
	border-top: 1px solid #131C36;
}

.marker-dianwu-info .tab {
	width:         100%;
	padding-top:   10px;
	padding-left:  10px;
	border-bottom: 2px solid #2568ED;
}

.marker-dianwu-info .tab > span {
	display: inline-block;
	padding: 3px 15px 0px 15px;
	color:   #7A8CD8;
}

.marker-dianwu-info .tab > span.active {
	background:              #2568ED;
	color:                   white;
	border-top-left-radius:  6px;
	border-top-right-radius: 6px;
}

.marker-dianwu-info .tit {
	text-align:     center;
	width:          130px;
	font-size:      16px;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.marker-dianwu-info .tit2 {
	text-align:     center;
	width:          130px;
	font-size:      12px;
	letter-spacing: 2px;
	text-overflow:  ellipsis;
	overflow:       hidden;
	white-space:    nowrap;
}

.marker-dianwu-info .sub-tit {
	width:      100px;
	text-align: center;
}

.marker-dianwu-info .detail-item {
	width:   100%;
	padding: 5px 8px;
	display: none;
}

.marker-dianwu-info .detail-item.show {
	display:          block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #131C36;
}

.marker-dianwu-info .list-item {
	padding: 3px;

}

.marker-dianwu-info .list-item > span {
	display:        inline-block;
	vertical-align: middle;
	width:          70px;
	padding-right:  5px;
	text-align:     right;
}

.marker-dianwu-info .list-item.auto {
	/*display: inline-block;*/
	vertical-align: middle;
	width:          100%;
}

.marker-dianwu-info .list-item.two_rows {
	display:        inline-block;
	vertical-align: middle;
	width:          49%;
}

.marker-dianwu-info .list-item.auto.inline {
	width: 100%;
}

.marker-dianwu-info .list-item.auto > span {
	display:        inline-block;
	vertical-align: middle;
	width:          auto;
	padding-right:  5px;
}

.marker-dianwu-info .select-item {
	padding:    3px;
	background: transparent;
	color:      #BEC6DA;
	border:     none;
	outline:    none;
}

.marker-dianwu-info .select-item > option {
	background-color: #283D70;
}

.marker-dianwu-info .detail-table {
	width:      100%;
	text-align: center;
}

.marker-dianwu-info .detail-table th {
	color:   #68A2FA;
	padding: 2px;
}

.marker-dianwu-info .detail-table td {
	font-size:     12px;
	border-bottom: 1px solid #4D5670;
	padding:       4px 2px;
}

.marker-dianwu-info > table {
	width: 100%;
}

/* popper指示箭头 */
.marker-dianwu-info-tip {
	position:                   absolute;
	top:                        30px;
	left:                       0px;
	width:                      2px;
	height:                     60px;
	border-top-right-radius:    2px;
	border-bottom-right-radius: 2px;
	background:                 #A08134;
}

.marker-dianwu-info-tip::before {
	content:            "";
	position:           absolute;
	top:                22px;
	left:               -12px;
	width:              0;
	height:             0;
	border-color:       transparent;
	border-style:       solid;
	border-left-width:  0;
	border-right-color: #A08134;
	border-width:       6px;
}

/* 电务设备 */
.marker-dianwu-info-tip.dw_dwsb {
	background: #4582FF;
}

.marker-dianwu-info-tip.dw_dwsb::before {
	border-right-color: #4582FF;
}
