.dk-icon-container {
	z-index: 25 !important;
}

.dk-marker {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.dk-marker.pic {
	background: url(../img/gongWu/施工计划.png)no-repeat;
	background-size: 100% 100%;
}
