.huoyun-icon-container {
	z-index: 25 !important;
}

.marker-huoyun-container {
	z-index: 25 !important;
}

.huoyun-marker {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.huoyun-marker-light {
	display: inline-block;
	width: 20px;
	height: 22.7px;
}
.huoyun-marker-light.jjbl {
	background: url("../img/huoYun/light/marker_jjbl.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker-light.shjxzy {
	background: url("../img/huoYun/light/marker_ssjxzy.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker-light.wxhwblz {
	background: url("../img/huoYun/light/marker_wxhwbl.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker-light.yfhwblz {
	background: url("../img/huoYun/light/marker_yfhwbl.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker-light.yjll {
	background: url("../img/huoYun/light/marker_yjll.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker-light.yjry {
	background: url("../img/huoYun/light/marker_yjry.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker-light.yjzxjx {
	background: url("../img/huoYun/light/marker_yjzxjx.png")no-repeat;
	background-size: 100% 100%;
}

/* 货运 */
.huoyun-marker.hyz {
	background: url("../img/huoYun/货运站 地图.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker.yjry {
	background: url("../img/huoYun/站段应急人员 地图.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker.jjbl {
	background: url("../img/huoYun/机具备料 地图.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker.yjll {
	background: url("../img/huoYun/应急劳力 地图.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker.yjzxjx {
	background: url("../img/huoYun/应急装卸机械 地图.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker.shjxzy {
	background: url("../img/huoYun/社会机械资源 地图.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker.wxhwblz {
	background: url("../img/huoYun/危险货物办理站 地图.png")no-repeat;
	background-size: 100% 100%;
}
.huoyun-marker.yfhwblz {
	background: url("../img/huoYun/易腐货物办理站 地图.png")no-repeat;
	background-size: 100% 100%;
}

.marker-huoyun-info-tip {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 2px;
	height: 60px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background: #FFFE04;
}

.marker-huoyun-info-tip::before {
	content: "";
	position: absolute;
	top: 22px;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-left-width: 0;
	border-right-color: #FFFE04;
	border-width: 6px;
}
.marker-huoyun-info-tip.hyz {
	background: #15efe2;
}
.marker-huoyun-info-tip.hyz::before {
	border-right-color: #15efe2;
}
.marker-huoyun-info-tip.yjry {
	background: #15efe2;
}
.marker-huoyun-info-tip.yjry::before {
	border-right-color: #15efe2;
}
.marker-huoyun-info-tip.jjbl {
	background: #f39803;
}
.marker-huoyun-info-tip.jjbl::before {
	border-right-color: #f39803;
}
.marker-huoyun-info-tip.yjll {
	background: #d57a18;
}
.marker-huoyun-info-tip.yjll::before {
	border-right-color: #d57a18;
}
.marker-huoyun-info-tip.yjzxjx {
	background: #dddb0b;
}
.marker-huoyun-info-tip.yjzxjx::before {
	border-right-color: #dddb0b;
}
.marker-huoyun-info-tip.shjxzy {
	background: #b170f9;
}
.marker-huoyun-info-tip.shjxzy::before {
	border-right-color: #b170f9;
}
.marker-huoyun-info-tip.wxhwblz {
	background: #5ba2f3;
}
.marker-huoyun-info-tip.wxhwblz::before {
	border-right-color: #5ba2f3;
}
.marker-huoyun-info-tip.yfhwblz {
	background: #8596ff;
}
.marker-huoyun-info-tip.yfhwblz::before {
	border-right-color: #8596ff;
}
.marker-huoyun-info {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 15px 0 10px 20px;
	font-size: 14px;
}

.marker-huoyun-info>.top {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #131C36;
}

.marker-huoyun-info>.top>.pic {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 80px;
	padding-top: 65px;
	white-space: nowrap;
}
.marker-huoyun-info>.top>.pic.hyz{
	background: url(../img/huoYun/货运站 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}
.marker-huoyun-info>.top>.pic.yjry{
	background: url(../img/huoYun/站段应急人员 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}
.marker-huoyun-info>.top>.pic.yjll{
	background: url(../img/huoYun/应急劳力 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}
.marker-huoyun-info>.top>.pic.yjzxjx{
	background: url(../img/huoYun/应急装卸机械 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}
.marker-huoyun-info>.top>.pic.shjxzy{
	background: url(../img/huoYun/社会机械资源 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}
.marker-huoyun-info>.top>.pic.wxhwblz{
	background: url(../img/huoYun/危险货物办理站 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}
.marker-huoyun-info>.top>.pic.yfhwblz{
	background: url(../img/huoYun/易腐货物办理站 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}

.marker-huoyun-info>.top>.tit {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
}

.marker-huoyun-info>.top>.tit>h3 {
	margin: 0;
	font-size: 18px;
	letter-spacing: 2px;
}

.marker-huoyun-info>.top>.tit>h4 {
	margin: 10px 0;
	font-size: 14px;
	letter-spacing: 2px;
}

.marker-huoyun-info>.list-item {
	padding: 1px 0;
}


.marker-huoyun-info .list-item>span {
	display: inline-block;
	vertical-align: middle;
	/* width: 70px; */
	padding-right: 3px;
	text-align: right;
}
/* 宽度50% */
.marker-huoyun-info .list-item.auto {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}
/* 一行 */
.marker-huoyun-info .list-item.auto.inline{
	width: 100%;
}
/* 标题宽度自动 */
.marker-huoyun-info .list-item.auto>span {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	padding-right: 10px;
}
.marker-huoyun-info>.list-item>.blue {
	color: #68A2FA;
}

.marker-huoyun-info>.list-item>.orange {
	color: #FDA629;
}

.marker-huoyun-info>.list-item>.red {
	color: #EF5659;
}
.marker-huoyun-info .detail-item{
	width: 100%;
	padding: 3px;
	display: none;
}
.marker-huoyun-info .detail-item.show{
	display: block;
}
.marker-huoyun-info .detail-table{
	width: 100%;
	text-align: center;
}
.marker-huoyun-info .detail-table th{
	color: #68A2FA;
	padding: 2px;
}
.marker-huoyun-info .detail-table td{
	font-size: 12px;
	border-bottom: 1px solid #4D5670;
	padding:4px 2px;
}
.marker-huoyun-info>table{
	width: 100%;
}
.marker-huoyun-info .tab {
	width: 100%;
	padding-top:10px;
	padding-left: 10px;
	border-bottom: 2px solid #2568ED;
}
.marker-huoyun-info .tab>span {
	display: inline-block;
	padding: 3px 15px 0px 15px;
	color: #7185db;
}
.marker-huoyun-info .tab>span.active{
	background: #2568ED;
	color: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.marker-huoyun-info.jjbl .log {
	display: inline-block;
	width: 80px;
	height: 60px;
	background: url(../img/huoYun/机具备料 大图.png)no-repeat;
	background-position-x: center;
	background-size: 60px 60px;
}

.marker-huoyun-info .select-item{
	padding: 3px;
	background: transparent;
	color: #bec6da;
	border: none;
	outline: none;
}
.marker-huoyun-info .select-item>option{
	background-color: #283D70;
}
.marker-huoyun-info .hy_cx_dljc_yxqk_detail{
	display: none;
}
.marker-huoyun-info .hy_cx_dljc_yxqk_detail.show{
	display:block;
}
